body, html{
  padding:0px;
  margin: 0px;
  font-family: sans-serif;
}
h3{
  font-weight: normal;
}
.hero{
  margin-bottom: 60px;
  text-align: center;
}
.yellowBoldText{
  font-weight: bold;
  color: #00897B;
}
.underlined{
  border-bottom: 5px solid #00897B;
}
.formationContainer{
margin: 100px 0px 0px 0px;
}
.upperContent{
  border-bottom: 5px solid #00897B;
  padding-left: 30px;
  display: flex;
}
.upperContent i{
  font-size: 30px;
  color : #00897B;
  margin: 0px 20px 0px 0px;
}
.upperContent h2{
  margin: 0px;
}
.leftContent{
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.rightContent{
  text-align: center;
}
.leftContent i{
  color : #00897B;
  font-size: 20px;
  position: relative;
  padding: 16px 10px 0px 0px;
}
.recommandationsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.recommandationsContainer div{
  padding: 10px 0px 10px 0px;
  text-align: center;
}
/* left sections */
#leftSection{
 background-color: #00897B;
 padding: 5px 0px 0px 0px;
 margin: 0px;
}
.bold{
  font-weight: bold;
}
.profilePicture{
  display: flex;
  justify-content: center;
}
.picture{
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 90px;
  height: 90px;
  border: solid 3px #004D40;
  border-radius: 100%;
  background: linear-gradient(to left top, #e66465, #9198e5);
  margin: 30px 0px 30px 0px;
}
.cat{
  position: relative;
  height: 110px;
  width: 110px;
  bottom: 10px;
}
.darkBand{
  color: #00897B ;
  background-color: #004D40;
  text-align: center;
}
.contactBox p{
  padding-left: 10%;
}
.loisirIllustrationWrapper{
  display: flex;
  justify-content: space-around;
}
.loisirIllustrationWrapper i{
  font-size: 40px;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 100%;
  padding: 10px;
  margin: 0px 0px 20px 0px;
}
/* Media Queries */
@media screen and (min-width: 768px){
  .contentWrapper{
    display: flex;
    justify-content: space-around;
  }
  .leftContent{
    margin-top: 40px;
  }
  .leftContent p{
    min-width:110px ;
  }
  .rightContent p{
    max-width: 400px;
    text-align: justify;
  }
  .aboutMeBox{
    display: flex;
    justify-content: center;
  }
  .aboutMeBox p{
    text-align: justify;
    max-width: 600px;
  }

}
@media screen and (min-width: 1024px){
  #leftSection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 220px;
    max-width: 500px;
  }
  .picture{
    height: 160px;
    width: 160px;
  }
  .cat{
    width: 160px;
    height: 160px;
    bottom: 0px;
  }
  #rightSection{
    min-width: 500px;
  }
  .rightContent p{
    max-width: 650px;
  }
  .sectionContainer{
    display: flex;
    flex-direction: row-reverse;
  }
  .aboutMeBox p{
    text-align: justify;
    max-width: 350px;
  }
}
@media screen and (min-width: 1204px){
  .rightContent p{
    max-width: 800px;
  }
}
@media screen and (min-width: 1340px){
  #leftSection{
    min-width: 400px;
  }
  .picture{
    height: 200px;
    width: 200px;
  }
  .cat{
    height: 200px;
    width: 200px;
  }
  #rightSection{
    display: flex;
    flex-direction: column;
    width: 1200px;
  }
}
@media screen and (min-width: 1600px){
  #rightSection{
    width: 1600px;
  }
}